* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 20%;
    background-color:#eee;
  }
  

  .middle {
    width: 60%;
  }
  

  .article-row {
    width: 100%;
  }

  
  /* Clear floats after the columns */
  .article-row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 1080px) {
    .middle {
      width: 100%;
    }
    .left, .right {
      display: none;
    }

  }